.dynamic-advertising,.dynamic-advertising-img{width: 100%;height: auto;}
.about-us{width: 100%;height: 721px;}
.about-us .about-us-content{width: 1400px;margin: 0 auto;padding-top: 173px;}
.about-us .about-us-content .about-us-content-left{float: left;width: 40%;}
.about-us .about-us-content .about-us-content-left h3{color: #203786;border-bottom: 3px solid #203786;font-size: 24px;padding-bottom: 5px;}
.about-us .about-us-content .about-us-content-left h2{color: #3a4f95;font-weight: normal;padding-top: 25px;}
.about-us .about-us-content .about-us-content-left p{color: #000001;padding-top: 36px;}
.about-us .about-us-content .about-us-content-right{float: right;}
@media only screen and (max-width:800px){
.dynamic-advertising,.dynamic-advertising-img{width: 100%;height: 200px;}
.dynamic-advertising,.dynamic-advertising-img img{height: 200px;}
.about-us{width: 100%;height: 400px;}
.about-us .about-us-content{width: 100%;padding: 0;}
.about-us .about-us-content .about-us-content-left{float: left;padding-left: 10px;padding-top: 20px;}
.about-us .about-us-content .about-us-content-left h3{color: #203786;border-bottom: 3px solid #203786;font-size: 24px;padding-bottom: 5px;}
.about-us .about-us-content .about-us-content-left h2{color: #3a4f95;font-weight: normal;padding-top: 25px;}
.about-us .about-us-content .about-us-content-left p{color: #000001;padding-top: 36px;}
.about-us .about-us-content .about-us-content-right{float: left;padding: 10px;}
.about-us .about-us-content .about-us-content-right img{width: 100%;}
}
