.contact-banner .contact-banner-con{width: 100%;}
.contact-information{width: 100%;height: 250px;background: #ffffff;}
.contact-information .contact-information-tonion{width: 1400px;margin: 0 auto;}
.contact-information .contact-information-tonion .contact-information-tonion-left{float: left;padding-top: 50px;padding-left: 150px;}
.contact-information .contact-information-tonion .contact-information-tonion-left p{font-size: 14px;color: #545353;text-align: center;padding-top: 10px;}
.contact-information .contact-information-tonion .contact-information-tonion-middle{float: left;padding-top: 50px;padding-left: 88px;}
.contact-information .contact-information-tonion .contact-information-tonion-middle img{width: 41px;height: 41px;padding-right: 10px;}
.contact-information .contact-information-tonion .contact-information-tonion-middle p{line-height: 41px;text-align: left;}
.contact-information .contact-information-tonion .contact-information-tonion-right{float: right;width: 174px;height: 174px;background: #e0dfdf;text-align: center;line-height: 174px;color: #020000;margin-top: 50px;margin-right: 150px;}
@media only screen and (max-width:800px){
.contact-banner .contact-banner-con{width: 100%;}
.contact-information{width: 100%;height: 600px;background: #ffffff;}
.contact-information .contact-information-tonion{width: 100%;margin: 0 auto;}
.contact-information .contact-information-tonion .contact-information-tonion-left{padding: 20px;}
.contact-information .contact-information-tonion .contact-information-tonion-left p{font-size: 14px;color: #545353;text-align: center;padding-top: 10px;}
.contact-information .contact-information-tonion .contact-information-tonion-middle{padding: 20px;}
.contact-information .contact-information-tonion .contact-information-tonion-middle img{width: 41px;height: 41px;padding-right: 10px;}
.contact-information .contact-information-tonion .contact-information-tonion-middle p{line-height: 41px;text-align: left;}
.contact-information .contact-information-tonion .contact-information-tonion-right{width: 174px;height: 174px;margin-right: 35%;}
}
