.product-list{width: 100%;height: 619px;}
.product-list .product-list-arrangement{width: 1400px;margin: 0 auto;}
.product-list .product-list-arrangement .one{padding-top: 80px;}
.product-list .product-list-arrangement .one h2{text-align: center;color: #203786;font-weight: bold;}
.product-list .product-list-arrangement .one h2 i{color: #e38c2d;}
.product-list .product-list-arrangement .one ul{padding-top: 57px;}
.product-list .product-list-arrangement .one ul li{display: inline-block;}
.product-list .product-list-arrangement .one ul li a p{text-align: center;margin-top: 5px;}
.product-list-liebiaoyi{width: 100%;height: 64px;line-height: 64px;background: #e4e3e6;}
.product-list-liebiaoyi .product-list-liebiaoyi-o{width: 1400px;margin: 0 auto;}
.product-list-liebiaoyi .product-list-liebiaoyi-o h2{text-align: center;color: #c0c0c1;}
.product-list-liebiaoyi .product-list-liebiaoyi-o h2 i{color: #c0c0c1;}
@media only screen and (max-width:800px){
	.product-list-liebiaoyi .product-list-liebiaoyi-o{width: 100%;}
	.product-list{height: auto;}
	.product-list .product-list-arrangement{width: 100%;}
	.product-list .product-list-arrangement .one{padding: 20px;}
	.product-list .product-list-arrangement .one{padding: 5px;}
	.product-list .product-list-arrangement .one ul{padding-top: 27px;}
    .product-list .product-list-arrangement .one ul li{display: inline-block;width: 45%;margin: 0 6px;}
    .product-list .product-list-arrangement .one ul li a p{text-align: center;margin-top: 5px;}
    .product-list .product-list-arrangement .one h2{font-size: 20px;}
}
